<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
        <div class="card-header text-center ">Agregar Producto</div>
            <div class="card-body">
             <form>
             <input type="text" class="form-control" placeholder="Ingrese Producto">
             <input type="text" class="form-control mt-2" placeholder="Ingrese Descripción">
             <input type="text" class="form-control mt-2" placeholder="Ingrese Ubicación">
             <input type="text" class="form-control mt-2" placeholder="Ingrese Stock">
             <div class="row mt-2 text-center">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
                <div class="col-lg-6">
                    <button routerLink="/" type="button" class="btn btn-secondary">Volver</button>
                </div>
             </div>
        
             
            </form>
            </div>
      </div>
    </div>
</div>
